.wrapper {
  position: relative;
  background-color: #fff;
  background-image: linear-gradient(45deg, rgba(112, 152, 240, 1), rgba(112, 152, 240, 1));
  z-index: 2;
}

.layout {
    padding-top: 140px;
    position: relative;
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
}


.title {
    font-size: 32px;
    line-height: 1.2;
    margin-top: 0;
}

.col:first-of-type {
    margin-bottom: 55px;
}

.sticky {
    max-width: 400px;
    margin: auto;
}

.headerBlock {
padding-bottom: 20px;
}

@media (min-width: 1024px) {
    .sticky {
        position: sticky;
        top: 150px;
        max-width: 300px;
    }

    .layout {
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        max-width: 1200px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: content-box;
        padding-top: 25vh;
        padding-bottom: 100px;
    }

    .col {
        position: relative;
    }

    .col:first-of-type {
        width: 36%;
    }

    .col:last-of-type {
        width: 59%;
    }

    .title {
        font-size: 61px;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 6vh;
    }

    .section > p {
        font-size: 25px;
        line-height: 1.56;
        margin-top: 0;
    }

    .header {
        font-size: 40px;
    }

    .fullHeight {
        min-height: 100vh;
    }

    .midHeadline {
        font-size: 60px;
        margin-bottom: 20px;
    }
}
