.page {
  min-height: 120vh;
  background-image: url(../../static/missingpage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.text {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 28px;
  text-align: center;
  color: #fff;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

.top {
  position: absolute;
  top: 15%;
}

.bottom {
  position: absolute;
  bottom: 200px;
}

@media (min-width: 1024px) {
  .text {
    font-size: 60px;
  }
  
  .bottom {
    position: absolute;
    bottom: 300px;
  }
}