.accordion {
    border: 1px solid #000;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    border-bottom: 1px solid #000;
}

.item:last-of-type {
    border-bottom: 0;
}

.itemTitle {
    position: relative;
    font-size: 25px;
    line-height: 30px;
    text-transform: capitalize;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 32px;
    cursor: pointer;
}

.icon {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.icon > svg {
    transform: rotate(0);
    transition: transform .2s ease-out;
}

.icon.isActive > svg {
    transform: rotate(45deg);
}

.isActive > .body {
    display: block;
}

.body {
    display: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}