.accordion {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.accordion:last-child {
    padding-bottom: 100px;
}

.accordionInner {
    border: 1px solid #000;
}

.fullwidth {
    max-width: 100%;
}

.item {
    border-bottom: 1px solid #000;
}

.item:last-of-type {
    border-bottom: 0;
}

.itemTitle {
    position: relative;
    font-size: 25px;
    line-height: 30px;
    text-transform: capitalize;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 32px;
    cursor: pointer;
}

.icon {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.icon > svg {
    transform: rotate(0);
    transition: transform .2s ease-out;
}

.icon.isActive > svg {
    transform: rotate(45deg);
}

.isActive > .body {
    display: block;
}

.body {
    display: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.body h1,
.body h2,
.body h3, 
.body h4,
.body h5,
.body h6 {
    font-family: 'Helvetica', sans-serif;
}

.body h1 {
    font-size: 25px;
}

.body h2 {
    font-size: 21px;
}

.body h3 {
    font-size: 18px;
}

.body h4,
.body h5,
.body h6 {
    font-size: 16px;
}

.body ol, 
.body ul {
    margin-bottom: 1.5em;
}

.body li {
    line-height: 2;
}

.body ol ol, 
.body ol ul, 
.body ul ul, 
.body ul ol {
    list-style: none;
    padding-left: 25px;
}

.body ol ol li:before, 
.body ol ul li:before, 
.body ul ul li:before, 
.body ul ol li:before {
    content: "-";
    display: inline-block;
    margin-right: 15px;
}