.article {
  padding: 50px 20px 40px;
}

.meta,
.content {
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-size: 36px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

.date {
  font-size: 15px;
  line-height: 1.6;
}

.meta {
  margin-bottom: 30px;
}

.image {
  margin-bottom: 30px;
}

.content p {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.005em;
}

.content a {
  text-decoration: underline;
}

.content ul,
.content ol {
  list-style: none;
  padding-left: 0;
  white-space: pre-wrap; /* CSS3 */
  word-wrap: break-word;
}

.tag {
  color: #a0a0a0;
  text-decoration: none;
  display: inline-block;
  padding: 0.33333rem 0.5rem;
  line-height: 1;
  border-radius: 2px;
  border: 1px solid #a0a0a0;
  margin-right: 0.5em;
}

@media (min-width: 500px) {
  .title {
    font-size: 46px;
  }

  .content ul,
  .content ol {
    padding-left: 2em;
  }
}

@media (min-width: 768px) {
  .article {
    border-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    overflow: hidden;
  }

  .title {
    font-size: 48px;
  }

  .meta,
  .content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1024px) {
  .article {
    position: relative;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .article {
    padding: 80px;
  }
}
