.ticker {
    padding-top: 15px;
    padding-bottom: 15px;

    color: #FA6400;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.item {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
    white-space: nowrap;
}
