.block {
    padding: 70px 32px;
    position: relative;
    margin-bottom: 50px;
}

.inner {
    width: 100%;
    max-width: 1200px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}

.hero h1,
.hero h2,
.hero h3,
.hero p,
.body h1,
.body h2,
.body h3,
.body p {
    display: block;
}

.body {
    align-items: center;
    font-size: 16px;
    color: #000;
    letter-spacing: -0.05px;
    line-height: 25px;
    text-align: left;
}


.hero h1,
.hero h2,
.hero h3 {
    font-weight: bold;
}

.hero h1 {
    font-size: 61px;
    letter-spacing: 1.05px;
    line-height: 1.2;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
}


@media (min-width: 768px) {
    .block {
        margin-bottom: 150px;
    }

    .inner {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    .hero {
        padding-right: 50px;
        width: 60%;
    }

    .body {
        width: 34%;
    }
}