.grid,
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.col {
    width: 100%;
    margin-bottom: 1px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .col {
        width: calc(25% - 1px);
        margin-right: 1px;
    }
}