.block {
    position: relative;
    cursor: pointer;
}

.title {
    /* margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: 10px;
    right: 10px;
    text-align: center;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    color: #fff; */
}

.title,
.subtitle,
.desc {
    opacity: 0;
    transition: opacity 150ms ease;
}


.media {
    height: 0;
    padding-bottom: 56.25%;
    transition: filter 150ms ease;
}

.image {
    display: block;
}

.active .title, .active .subtitle, .block:hover .title, .block:hover .subtitle {
    opacity: 1;
}

.active .media, .block:hover .media {
  filter: brightness(50%);
}

.active .image, .block:hover .image {
    display: none;
}

.hoverImage {
    display: none;
}

.active .hoverImage, .block:hover .hoverImage {
    display: block;
}

.inGrid .body {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    right: 10px;
    text-align: center;
    line-height: 1.1;
    color: #fff;
}
