.gridSpace {
  position: relative;
  padding-bottom: 45px;
}


.col {
    width: 100%;
    overflow: hidden;
}

.filter {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    transition: height .25s ease-out;
    overflow: hidden;
    padding-bottom: 45px;
}

.slide {
    width: 100%;
}

.filterOpen {
    height: 100%;
}

.filterItem {
    display: block;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .175em;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    cursor: pointer;
}

.resetFilter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.filterControl {
    height: 21px;
    box-sizing: content-box;
}

.grid {
    display: grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
}

.full {
    grid-column: 1 / span 4;
}