.block {
    position: relative;
    padding-bottom: 50px;
}

.image {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    min-height: 300px;
    min-width: 300px;
}

.title {
    font-size: 25px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
}

.text {
    font-size: 12px;
    line-height: 1.6;
}

@media (min-width: 768px) {
    .block {
        display: flex;
        margin-bottom: 100px;
        padding-bottom: 0;
    }

    .media {
        flex-shrink: 0;
    }

    .text {
        font-size: 15px;
        line-height: 1.6;
    }

    .body {
        padding-right: 0;
        padding-left: 30px;
        padding-right: 30px;
    }

}