.block {
    background-color: white;
    position: relative;
    z-index: 100;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 32px;
    line-height: 1.2;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: content-box;
    font-family: 'Noe';
}

.videoWrapper {
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.loaded {
    opacity: 1;
}


.section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .title {
        font-size: 70px;
    }
}

@media (min-width: 1024px) {
    .block {
        position: relative;
    }
    
    .videoWrapper {
        position: sticky;
        height: 100vh;
        width: 100%;
        max-width: 100vw;
        z-index: 1;
        overflow: hidden;
        background: #000;
        top: 0;
        padding-bottom: 0;
    }
    
    .videoWrapper:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.18);
        display: block;
        z-index: 999;
    }
    
    .video {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        width: auto;
        transform: scale(1);
        transition: opacity 1000ms ease;
        min-width: 100%;
        min-height: 100%;
    }

    .content {
        margin-left: 5%;
        width: 768px;
        z-index: 2;
        transition: .5s ease-out;
        position: sticky;
        padding-top: 40vh;
        padding-bottom: 45vh;
    }
    
    .section {
        height: calc(100vh - 70px);
        max-width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        top: 0;
        transform: translateY(0);
        z-index: 1;
    }

    .title {
        font-size: 102px;
        line-height: 1.08;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .video {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 150px;
    }

    .content {
        margin-left: 128px;
        width: 1000px;
    }
}