.block {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

.navWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  background-color: #fff;
  transform: translateY(-150%);
}

.isOpen {
  transform: translateY(0);
}

.navigation {
  border-top: 1px solid #000;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: block;
}

.link {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  height: 72px;
  display: block;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.menu {
  position: relative;
  width: 20px;
  height: 14px;
  cursor: pointer;
}

.menuBar {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.menuBar:first-of-type {
  top: 0;
}

.menuBar:not(:first-of-type):not(:last-of-type) {
  opacity: 1;
  top: calc(50% - 1px);
}

.menuBar:last-of-type {
  bottom: 0;
}

.isOpen .menuBar:first-of-type {
  transform: rotate(45deg);
  top: 6px;
}

.isOpen .menuBar:last-of-type {
  transform: rotate(-45deg);
  bottom: 6px;
}

.isOpen .menuBar:not(:first-of-type):not(:last-of-type) {
  opacity: 0;
}

.link {
  transition: background-color .25s ease-out;
}

.active {
  background-color: #F8D377;
}
