.wrap {
    width: 100%;
}

.block {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.tac {
    text-align: center;
}

.domaine { 
    font-family: "Domaine", Georgia, 'Times New Roman', Times, serif;
}

@supports (-webkit-text-stroke: 1px black) {
    .text {
        -webkit-text-stroke: 1px black;
        color: #fff;
        color: transparent;
    }
    
    .noOutline {
        -webkit-text-stroke: initial;
        color: black;
    }
}

@media (min-width: 375px) {
    .text {
        font-size: 60px;
    }
}

@media (min-width: 768px) {
    .text {
        font-size: 100px;
    }
}

@media (min-width: 1024px) {
    .tac {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .text {
        font-size: 170px;
        line-height: 1.1;
    }
}
