@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 30px 30px;
  background-image: radial-gradient(circle at 59% 0, #f6c561, #c2217d);
  color: white;
  text-align: left;
  z-index: 0;
}

.unfixed {
  position: relative;
}

.title {
  margin-top: 0;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: 0.55px;
}

.logo {
  display: block;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.socialLinks {
  margin-right: 30px;
}

.socialLinks,
.links {
  column-count: 2;
  column-gap: 10px;
  text-align: left;
  margin: 0 auto;
}

.socialLinks a,
.links a {
  display: block;
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 26px;
  text-transform: capitalize;
}

.copyright {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 13px;
  line-height: 1.6;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 45px;
    padding-left: 65px;
    padding-right: 65px;
    text-align: left;
    background-image: radial-gradient(
      circle 1000px at 60% -290px,
      #f6c561 41%,
      #c2217d 100%
    );
  }

  .title {
    max-width: 700px;
  }

  .flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .logo {
    order: 1;
    margin-left: 0;
    margin-right: 74px;
    flex-shrink: 0;
  }

  .logo svg {
    transform: rotate(0);
    transition: transform 1s ease-out;
  }

  .logo:hover svg {
    animation-name: rotate;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .content {
    order: 2;
    width: 100%;
  }

  .copyright {
    position: absolute;
    bottom: 50px;
    right: 95px;
    font-size: 15px;
    letter-spacing: -0.05px;
    line-height: 25px;
  }

  .socialLinks {
    width: 100%;
    max-width: 110px;
    column-count: initial;
    column-gap: initial;
    margin: 0;
    padding: 0;
  }

  .links {
    margin-top: 0;
    max-width: 80%;
    width: 100%;
    margin-left: 0;
    column-count: 2;
    column-width: 10px;
  }

  .links a {
    font-size: 13px;
    line-height: 1.6;
    color: #fff;
    margin-bottom: 26px;
    margin-right: 0;
  }

  .content {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

@media (min-width: 820px) {
  .links a {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 46px 90px 20px;
  }

  .title {
    font-size: 60px;
    color: #fff;
    letter-spacing: 0.55px;
    margin-bottom: 37px;
  }

  .links {
    margin-top: 0;
    max-width: 450px;
    width: 100%;
    margin-left: 0;
    column-count: 2;
    column-width: 10px;
  }
}
