.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stickerWrapper {
  position: absolute;
  z-index: 999;
  width: 256px;
  height: 256px;
}

.sticker {
  max-height: 100%;
  max-width: 100%;
}

.buttonWrapper {
  max-height: 64px;
  max-width: 64px;
  position: fixed;
  z-index: 1000;
  cursor: pointer;
  bottom: 64px;
  right: 64px;
}


.button {
  max-height: 64px;
  max-width: 64px;
}
